{##
 # onyx_instance_add.twig
 # 
 # Form for creating new onyx_instances.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_add.twig for parameters
 #}
{% extends "base_add.twig" %}

{% block javascript %}
  
  {{ parent() }}
  <script type="text/javascript">
    // reload page when site selection changes
    $( function () {
      $( "#{{ widget.full }}__site_id" ).change( function() {
        // get the list of interviewers at the selected site
        var site_id = $( "#{{ widget.full }}__site_id option:selected" ).val();
        var args = {
          "restrictions": {
            "site.id": {
              "compare": "is",
              "value": site_id
            },
            "role.name": {
              "compare": "is",
              "value": "interviewer"
            }
          }
        };
        var user_list = ajax_pull( "user", "list", args );

        // repopulate interviewer list using the new user_list
        var options = '<option value="" selected="">site</option>';
        for( var index = 0; index < user_list.length; index++ )
          options += '<option value="' +
                     user_list[index].id + '">' +
                     user_list[index].name + '</option>';

        $( "#{{ widget.full }}__interviewer_user_id" ).html( options );
      } );
    } );
  </script>

{% endblock javascript %}
